body{
    margin: 0;
    padding:0;
    font-family: 'Playfair Display', serif;
}
*{
    box-sizing: border-box;
}
.container{
     width: 1140px;
     margin: 0 auto;
}
.pad-70{
    padding: 70px 0px;
}
.text-center{
    text-align: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
 header{
     padding: 25px 10px ;
 }
 .header-wrapper{
     overflow: auto;
 }
.logo{
    float: left;
    width: 200px;
}
.logo h1{
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 2px;
    letter-spacing: 5px;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
}
.nav{
    float: right ;
    width: 750px;
}
.nav-menu{
    list-style-type: none;
}
.nav-menu li{
    float: left;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 105px;
}
.nav-menu li:hover{
    transform: scale(1.1);
}
.nav-menu li a{
text-decoration: none;
color: #626262;
}
/* banner part start here */
.banner img{
    width: 100%;
}
/* banner part end here */

/* weekend text start here */
.tag, .comment{
    text-transform: uppercase;
    color: #b4ad9e;
}
.title{
    color: #626262;
    font-size: 40px ;
    font-weight: 400;
}
.description{
    line-height: 1.7;
    margin-bottom: 40px;
}
/* weekend text end here */

/* blog start here */
.post{
    width: 47%;
}
.post img{
    width: 100%;
    margin-bottom: 30px;
}
.row{
    overflow: auto;
    margin-bottom: 70px;
}
.post-left{
    float: left;
}
.post-right{
    float: right;
}
.post-title{
    margin: 25px 0px;
    font-size: 40px;
}
/* blog end here */
/* newsletter section start here */
#newsletter{
    background-color: #f0f0f0;
}
form{
    width: 480px;
    margin: 0 auto;
}
.form-control{
    width: 100%;
    height: 50px;
    border: none;
    background-color:transparent;
    border-bottom: 1px solid #626262;
}
.input-group{
    position: relative;
}
.paperplane{
    position: absolute;
    top: 10%;
    right: 0;
    transform: translateY(50%);
}
/* newsletter section end here */
.btn{
    padding: 20px 30px;
    border: 1px solid #626262;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
.btn:hover{
    background-color: rgb(233, 233, 233);
}
/* Footer starts here */
footer{
    background-color: #f0f0f0;
    padding: 30px 0px;
}
.footer-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.footer-menu li{
    float: left;
    margin-left: 50px;
}
.footer-menu li a{
    text-decoration: none;
    color: #444;
    font-weight: bold;
}
.footer-wrap{
    overflow: auto;
}
.footer-left{
    float: left;
}
.footer-right{
    float: right;
}
.footer-menu i:hover{
    transform: scale(1.3);
}
/* Footer end here */
